{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:@typescript-eslint/recommended",
  ],
  "rules": {
    "linebreak-style": 0,
    "comma-dangle": ["error", "always-multiline"],
    "quotes": [2, "single", { "avoidEscape": true }],
    "no-plusplus": "off",
    "func-names": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "no-underscore-dangle": 0,
    "no-nested-ternary": 0,
    "radix": 0,
    // unit tests only
    "max-len" : 0,
    "no-new" : 0,
    "no-unused-expressions": 0,
    "prefer-spread": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/no-explicit-any": 0
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {} // This helps ESLint resolve import paths for TypeScript files
    }
  }
}
